<% include inc/header.html %>

<div class="container">
    <div class="well">
    <form class="form-horizontal" role="form" method="post" id="add-api-form">
        <div class="form-group">
            <label for="api-project" class="control-label col-md-2"><%=t("api.project")%>：</label>
            <div class="col-md-2">
                <select class="form-control" id="api-project"  autocomplete="off">
                    <%
                    for(var p in config.projects){
                    %>
                    <option value="<%=p%>" <%if(p == apiInfo.project){%>selected<%}%>><%=config.projects[p]%></option>
                    <%
                    }
                    %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="api-developer" class="control-label col-md-2"><%=t("api.developer")%>：</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="api-developer" value="<%=apiInfo.developer%>" required>
                <span class="help-block"><%-t("help.developer")%></span>
            </div>
        </div>
        <div class="form-group">
            <label for="api-name" class="control-label col-md-2"><%=t("api.name")%>：</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="api-name" value="<%=apiInfo.name%>" required>
                <span class="help-block"><%-t("help.name")%></span>
            </div>
        </div>
        <div class="form-group">
            <label for="api-purpose" class="control-label col-md-2"><%=t("api.purpose")%>：</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="api-purpose" value="<%=apiInfo.purpose%>" required>
                <span class="help-block"><%-t("help.purpose")%></span>
            </div>
        </div>
        <div class="form-group">
            <label for="api-desc" class="control-label col-md-2"><%=t("api.desc")%>：</label>
            <div class="col-md-6">
                <textarea class="form-control" id="api-desc" required><%=apiInfo.desc%></textarea>
                <span class="help-block"><%-t("help.desc")%></span>
            </div>
        </div>
        <div class="form-group">
            <label for="api-host" class="control-label col-md-2"><%=t("api.url")%>：</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><%=t("api.host")%></span>
                    <input type="text" class="form-control" name="api-host" id="api-host" value="<%=apiInfo.host%>" required>
                    <span class="input-group-addon"><%=t("api.path")%></span>
                    <input type="text" class="form-control" name="api-path" id="api-path" value="<%=apiInfo.path%>">
                    <span class="input-group-addon"><%=t("api.urlAddon")%></span>
                    <input type="text" class="form-control" name="api-url-addon"  id="api-url-addon" value="<%=apiInfo.urlAddon%>">
                </div>
                <span class="help-block"><%-t("help.url")%></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.type")%>：</label>
            <div class="col-md-4">
                <label class="radio-inline"><input type="radio" name="api-type" value="json" <%if(apiInfo.type == 'json'){%>checked<%}%> autocomplete="off">json/jsonp</label>
                <label class="radio-inline"><input type="radio" name="api-type" value="text" <%if(apiInfo.type == 'text'){%>checked<%}%> autocomplete="off">text</label>
                <label class="radio-inline"><input type="radio" name="api-type" value="xml" <%if(apiInfo.type == 'xml'){%>checked<%}%> autocomplete="off">xml</label>
                <span class="help-block"><%-t("help.type")%></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.httpType")%>：</label>
            <div class="col-md-2">
                <label class="checkbox-inline"><input type="checkbox" name="api-http-type" value="get" <%if(apiInfo.httpType.indexOf('get')>-1){%>checked<%}%> autocomplete="off">get</label>
                <label class="checkbox-inline"><input type="checkbox" name="api-http-type" value="post" <%if(apiInfo.httpType.indexOf('post')>-1){%>checked<%}%> autocomplete="off">post</label>
                <span class="help-block"><%-t("help.httpType")%></span>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.params")%>：</label>
            <div class="col-md-8" id="params-wrapper">
                <div class="input-group" data-role="param-row">
                    <span class="input-group-addon"><%=t("api.paramName")%></span>
                    <input type="text" class="form-control" value="" name="param-name" required>
                    <span class="input-group-addon"><%=t("api.paramType")%></span>
                    <select name="param-type" class="form-control">
                        <option value="1"><%=t('required')%></option>
                        <option value="0"><%=t('optional')%></option>
                    </select>
                    <span class="input-group-addon"><%=t("api.paramDesc")%></span>
                    <input type="text" class="form-control"  value="" name="param-desc" required>
                    <span class="input-group-addon glyphicon glyphicon-minus cursor-pointer" data-action="remove" title="<%=t('clickToRemove')%>"></span>
                </div>
                <div class="btn-group margin-top-20">
                    <button type="button" class="btn btn-default" id="api-add-param" title="<%=t('clickToAdd')%>"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <span class="help-block"><%-t("help.params")%></span>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.results")%>：</label>
            <div class="col-md-8" id="results-wrapper">
                <div class="input-group" data-role="result-row">
                    <span class="input-group-addon"><%=t("api.resultName")%></span>
                    <input type="text" class="form-control" value="" name="result-name" required>
                    <span class="input-group-addon"><%=t("api.resultType")%></span>
                    <select class="form-control" name="result-type">
                        <option value="String"><%=t("types.string")%></option>
                        <option value="Number"><%=t("types.number")%></option>
                        <option value="Array"><%=t("types.array")%></option>
                        <option value="Boolean"><%=t("types.boolean")%></option>
                        <option value="Object"><%=t("types.object")%></option>
                    </select>
                    <span class="input-group-addon"><%=t("api.resultDesc")%></span>
                    <input type="text" class="form-control"  value="" name="result-desc" required>
                    <span class="input-group-addon glyphicon glyphicon-minus cursor-pointer" data-action="remove" title="<%=t("clickToRemove")%>"></span>
                </div>
                <div class="btn-group margin-top-20">
                    <button type="button" class="btn btn-default" id="api-add-result" title="<%=t("clickToAdd")%>"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <span class="help-block"><%-t("help.results")%></span>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.demo")%>：</label>
            <div class="col-md-8">
                <span class="help-block"><%-t("help.demo")%></span>
            </div>
        </div>
        <div class="editor-wrapper clearfix">
            <div class="editor-tools">
                <button type="button" class="btn btn-info btn-sm" title="<%=t('tips.moveLeftToRight')%>" data-action="to-right"><span class="glyphicon glyphicon-chevron-right"></span></button>
                <br/><br/>
                <button type="button" class="btn btn-info btn-sm" title="<%=t('tips.moveRightToLeft')%>" data-action="to-left"><span class="glyphicon glyphicon-chevron-left"></span></button>
            </div>
            <div id="text-editor" class="col-md-12">

            </div>
            <div id="jsoneditor-code" class="col-md-6">

            </div>
            <div id="jsoneditor-tree" class="col-md-6">

            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.other")%>：</label>
            <div class="col-md-6">
                <label class="checkbox"><input type="checkbox" id="api-is-simulate" value="get" <%if(apiInfo.isSimulate){%>checked<%}%>><%=t("api.isSimulate")%></label>
                <span class="help-block"><%=t('help.isSimulate')%></span>
                <label class="checkbox"><input type="checkbox" id="api-is-proxy" value="post" <%if(apiInfo.isProxy){%>checked<%}%>><%=t("api.isProxy")%></label>
                <span class="help-block"><%=t('help.isProxy')%></span>
            </div>
        </div>
        <hr/>
        <div class="form-group">
                <button type="submit" class="btn btn-primary center-block" id="add-api-submit"><%=t("submit")%></button>
        </div>
    </form>
    </div>
</div> <!-- /container -->

<script src="<%=config.staticUrl%>/assets/js/brand/jsoneditor-min.js"></script>
<script src="<%=config.staticUrl%>/assets/js/brand/ace-min.js"></script>
<script src="<%=config.staticUrl%>/assets/js/common.js?v=<%=config.staticVersion%>"></script>

<script type="text/javascript" >

    $(document).ready(function(){
        var treeeditor = new jsoneditor.JSONEditor($('#jsoneditor-tree')[0]),
                codeeditor = new jsoneditor.JSONEditor($('#jsoneditor-code')[0], {mode: 'code'}),
                texteditor = ace.edit('text-editor'),
                $apiType = $('[name="api-type"]'),
                $paramsWrapper = $('#params-wrapper'),
                $resultsWrapper = $('#results-wrapper'),
                $addApiForm = $('#add-api-form');

        function addApi(e){
            var params = {},
                    project = $('#api-project').val(),
                    developer = $('#api-developer').val(),
                    name = $('#api-name').val(),
                    purpose = $('#api-purpose').val(),
                    desc = $('#api-desc').val(),
                    host = $('#api-host').val(),
                    path = $('#api-path').val(),
                    urlAddon = $('#api-url-addon').val(),
                    $type = $('[name="api-type"]:checked').val(),
                    $httpType = $('[name="api-http-type"]'),
                    isSimulate = $('#api-is-simulate').is(':checked'),
                    isProxy = $('#api-is-proxy').is(':checked');
            params.project = project;
            params.developer = developer;
            params.name = name;
            params.purpose = purpose;
            params.desc = desc;
            params.host = host;
            params.path = path;
            params.urlAddon = urlAddon;
            params.type = $type;
            params.httpType = getCheckboxVal($httpType);
            params.isSimulate = isSimulate;
            params.isProxy = isProxy;

            var check = true;

            var defaultParams = [];
            $paramsWrapper.find('[data-role="param-row"]').each(function(i,v){
                var $this = $(this),
                        name = $this.find('[name="param-name"]').val(),
                        type = $this.find('[name="param-type"]').val(),
                        desc = $this.find('[name="param-desc"]').val();
                if(name && desc){
                    defaultParams.push({
                        name: name,
                        type: type,
                        desc: desc
                    });
                }else{
                    alert('<%=t("tips.requireParamField")%>');
                    check = false;
                }
            });
            params.params = defaultParams;

            var defaultResults = [];
            $resultsWrapper.find('[data-role="result-row"]').each(function(i,v){
                var $this = $(this),
                        name = $this.find('[name="result-name"]').val(),
                        type = $this.find('[name="result-type"]').val(),
                        desc = $this.find('[name="result-desc"]').val();
                if(name && type && desc){
                    defaultResults.push({
                        name: name,
                        type: type,
                        desc: desc
                    });
                }else{
                    alert('<%=t("tips.requireResultField")%>');
                    check = false;
                }
            });
            params.results = defaultResults;
            try{
                if(params.type == 'json') {
                    params.demo = codeeditor.get();
                }else{
                    params.demo = texteditor.getSession().getValue();
                }
            }catch (e){
                alert('<%=t("tips.demoFormatErr")%>：'+ e.message);
                check = false;
            }
            if(!check){
                return false;
            }
            var ajaxUrl = '';
            <%
            if(locals.apiInfo && apiInfo._id){
            %>
                ajaxUrl = '<%=config.siteUrl+config.managerPath%>apis/edit/<%=apiInfo._id%>';
                params._id = '<%=apiInfo._id%>';
            <%}else{%>
                ajaxUrl = '<%=config.siteUrl+config.managerPath%>apis/add'
            <%}%>
            console.log(params);
            $.ajax({
                type: 'post',
                url: ajaxUrl,
                data: {data: JSON.stringify(params)},
                success: function(results){
                    if(results.retcode == 0){
                        alert(results.retmsg || '<%=t("tips.operationSuccess")%>');
                        location.href = '<%=config.siteUrl+config.managerPath%>';
                    }else{
                        alert(results.retmsg || '<%=t("tips.operationFailed")%>');
                    }
                },
                error: function(err){
                    alert(err);
                }
            });
            e.preventDefault();
            return false;
        }
        function bindEvents() {
            $apiType.click(function () {
                var val = this.value;
                if ('json' == val) {
                    $('#text-editor').hide();
                    $('#jsoneditor-code,#jsoneditor-tree,.editor-tools').show();
                } else {
                    $('#jsoneditor-code,#jsoneditor-tree,.editor-tools').hide();
                    $('#text-editor').show();
                    texteditor.getSession().setMode('ace/mode/' + val);
                }
            });
            $('.editor-tools').on('click','[data-action]',function(){
                var action = $(this).data('action');
                try{
                    if(action == 'to-right'){
                        treeeditor.set(codeeditor.get());
                    }else if (action == 'to-left'){
                        codeeditor.set(treeeditor.get());
                    }
                }catch (e){
                    alert('<%=t("tips.jsonFormatErr")%>：'+ e.message);
                }
            });
            $addApiForm.on('click','#api-add-param,#api-add-result,[data-action="remove"]', function(){
                var $this = $(this);
                if (this.id == 'api-add-param') {
                    addParamRow();
                }else if (this.id == 'api-add-result') {
                    addResultRow();
                } else {
                    $this.parent().remove();
                }
            }).submit(addApi);
        }
        function initParams(){
            var apiParams = [];
            try {
                apiParams = <%-JSON.stringify(apiInfo.params)%>;
            }catch (e){
                apiParams = [];
            }
            $.each(apiParams, function(i,v){
                if(i != 0){
                    addParamRow();
                }
                $paramsWrapper.find('[name="param-name"]').eq(i).val(v.name);
                $paramsWrapper.find('[name="param-type"]').eq(i).val(v.type);
                $paramsWrapper.find('[name="param-desc"]').eq(i).val(v.desc);
            });
        }
        function initResults(){
            var apiResults = [];
            try {
                apiResults = <%-JSON.stringify(apiInfo.results)%>;
            }catch (e){
                apiResults = [];
            }
            $.each(apiResults, function(i,v){
                if(i != 0){
                    addResultRow();
                }
                $resultsWrapper.find('[name="result-name"]').eq(i).val(v.name);
                $resultsWrapper.find('[name="result-type"]').eq(i).val(v.type);
                $resultsWrapper.find('[name="result-desc"]').eq(i).val(v.desc);
            });
        }

        function initEditors(){
            var defaultDemo = {
                "retcode": 0,
                "retmsg": "success",
                "data": []
            };
            var demo = null;
            try {
                demo = <%-JSON.stringify(apiInfo.demo)%>;
            }catch (e){
                demo = defaultDemo;
            }
            treeeditor.set(demo);
            codeeditor.set(demo);
            texteditor.getSession().setUseWrapMode(true);
            texteditor.getSession().setMode('ace/mode/xml');
            texteditor.setValue('<%-apiInfo.demo%>');
        }

        function init(){
            bindEvents();
            initParams();
            initResults();
            initEditors();
            $apiType.filter(':checked').click();
        }

        function addParamRow(){
            var addParamTpl = '<div class="input-group margin-top-20" data-role="param-row">'
                    +'<span class="input-group-addon"><%=t("api.paramName")%></span>'
                    +'<input type="text" class="form-control" value="" name="param-name" required>'
                    +'<span class="input-group-addon"><%=t("api.paramType")%></span>'
                    +'<select name="param-type" class="form-control" autocomplete="off">'
                    +'<option value="1"><%=t("required")%></option>'
                    +'<option value="0"><%=t("optional")%></option>'
                    +'</select>'
                    +'<span class="input-group-addon"><%=t("api.paramDesc")%></span>'
                    +'<input type="text" class="form-control"  value="" name="param-desc" required>'
                    +'<span class="input-group-addon glyphicon glyphicon-minus cursor-pointer" data-action="remove"  title="<%=t("clickToRemove")%>"></span>'
                    +'</div>';
            $('#api-add-param').parent().before(addParamTpl);
        }

        function addResultRow(){
            var addResultTpl = '<div class="input-group margin-top-20" data-role="result-row">'
                    +'<span class="input-group-addon"><%=t("api.resultName")%></span>'
                    +'<input type="text" class="form-control" value="" name="result-name" required>'
                    +'<span class="input-group-addon"><%=t("api.resultType")%></span>'
                    +'<select class="form-control" name="result-type" required>'
                    +'<option value="String"><%=t("types.string")%></option>'
                    +'<option value="Number"><%=t("types.number")%></option>'
                    +'<option value="Array"><%=t("types.array")%></option>'
                    +'<option value="Boolean"><%=t("types.boolean")%></option>'
                    +'<option value="Object"><%=t("types.object")%></option>'
                    +'</select>'
                    +'<span class="input-group-addon"><%=t("api.resultDesc")%></span>'
                    +'<input type="text" class="form-control"  value="" name="result-desc" required>'
                    +'<span class="input-group-addon glyphicon glyphicon-minus cursor-pointer" data-action="remove"  title="<%=t("clickToRemove")%>"></span>'
                    +'</div>';
            $('#api-add-result').parent().before(addResultTpl);
        }

        function getCheckboxVal($box){
            var results= [];
            $box.each(function(i,v){
                if(this.checked){
                    results.push(this.value);
                }
            });
            return results;
        }

        init();
    });


</script>
<% include inc/footer.html %>