<% include inc/header.html %>

<div class="container">
    <div class="well">
    <form class="form-horizontal" role="form" method="post" id="add-api-form">
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.project")%>：</label>
            <div class="col-md-2">
                <p class="form-control-static"><%=config.projects[apiInfo.project]%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.developer")%>：</label>
            <div class="col-md-4">
                <p class="form-control-static"><%=apiInfo.developer%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.name")%>：</label>
            <div class="col-md-4">
                <p class="form-control-static"><%=apiInfo.name%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.purpose")%>：</label>
            <div class="col-md-4">
                <p class="form-control-static"><%=apiInfo.purpose%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.desc")%>：</label>
            <div class="col-md-6">
                <p class="form-control-static"><%=apiInfo.desc%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.url")%>：</label>
            <div class="col-md-6">
                <p class="form-control-static"><%=apiInfo.host+apiInfo.path+'?'+apiInfo.urlAddon%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.type")%>：</label>
            <div class="col-md-4">
                <p class="form-control-static"><%=apiInfo.type == 'json'?'json/jsonp':apiInfo.type%></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.httpType")%>：</label>
            <div class="col-md-2">
                <p class="form-control-static"><%=apiInfo.httpType%></p>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.params")%>：</label>
            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 120px;"><%=t('api.paramName')%></th>
                        <th style="width: 60px;"><%=t('api.paramType')%></th>
                        <th><%=t('api.paramDesc')%></th>
                    </tr>
                    </thead>
                    <tbody>
                        <%
                        apiInfo.params.forEach(function(v){
                        %>
                        <tr>
                            <td><%=v.name%></td>
                            <td><%=v.type == '1'?t('required'):t('optional')%></td>
                            <td><%=v.desc%></td>
                        </tr>
                        <%
                        });
                        %>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.results")%>：</label>
            <div class="col-md-8">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="width: 120px;"><%=t('api.resultName')%></th>
                        <th style="width: 60px;"><%=t('api.resultType')%></th>
                        <th><%=t('api.resultDesc')%></th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    apiInfo.results.forEach(function(v){
                    %>
                    <tr>
                        <td><%=v.name%></td>
                        <td><%=v.type%></td>
                        <td><%=v.desc%></td>
                    </tr>
                    <%
                    });
                    %>
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-md-2"><%=t("api.demo")%>：</label>
            <div class="col-md-8">
                <div id="jsoneditor-code">

                </div>
            </div>
        </div>
        <div class="editor-wrapper clearfix">

        </div>
    </form>
    </div>
</div> <!-- /container -->

<script src="<%=config.staticUrl%>/assets/js/brand/jsoneditor-min.js"></script>
<script src="<%=config.staticUrl%>/assets/js/brand/ace-min.js"></script>
<script src="<%=config.staticUrl%>/assets/js/common.js?v=<%=config.staticVersion%>"></script>

<script type="text/javascript" >

    ;(function(){
        if('json' == '<%=apiInfo.type%>') {
            var codeeditor = new jsoneditor.JSONEditor($('#jsoneditor-code')[0], {mode: 'code'});
            var demo = null;
            try {
                demo = <%-JSON.stringify(apiInfo.demo)%>;
            } catch (e) {
                demo = {};
            }
            codeeditor.set(demo);
        }else{
            var texteditor = ace.edit('jsoneditor-code');
            texteditor.getSession().setUseWrapMode(true);
            texteditor.getSession().setMode('ace/mode/<%=apiInfo.type%>');
            texteditor.getSession().setValue('<%-apiInfo.demo%>');
        }
    })();
</script>
<% include inc/footer.html %>